@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../partials/_variables' as *;

body{
    background-color:#d58f39;
}
header{
    background-color:white ;
}
.container{
    width: 90%;
}
