@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../partials/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #d58f39 arancione per background
#212428 nero per background */